

<nav>
    <div class="Container">
        <div class="content">
            <h2 class="logo">Roma</h2>
            <ul>

                
                <li><a routerLink="/auth/login" routerLinkActive="router-link-active"> Login</a></li>
                <!-- <li><a routerLink="auth/Register" routerLinkActive="router-link-active"> Register</a></li> -->
                <li><a routerLink="/Products" routerLinkActive="router-link-active"> Products </a></li>  
                <li><a routerLink="/Shopingcart" routerLinkActive="router-link-active"> Shopingcart</a></li>
            </ul>

        </div>

    </div>
</nav>
